@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 769px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {
    .container {
        width: 294px;
        margin: 0 auto;
    }

    .wrapper {
        flex-direction: column;
    }

    header {
        .container {

            nav {
                ul {
                    div {
                        display: none;
                    }

                    li {
                        &:last-child {
                            display: none;
                        }
                    }
                }


            }
        }
    }

    .Companies_in_countries {
        .container {
            .wrapper {
                .tax_fraud_case {
                    position: relative;
                    top: 0px;
                    left: 0px;
                    width: 294px;
                }
            }
        }
    }

    .You_can_save {
        .container {
            .calendly {
                flex-direction: column;
            }

            .green_box {
                flex-direction: column;

                .gen_box {
                    max-width: 294px;

                    .top_part {
                        flex-direction: column;
                    }

                    .bottom_part {
                        flex-direction: column;

                        p:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .Stories {
        .container {
            .wrapper_info {
                flex-direction: column;

                .wrapper_text {
                    padding: 80px 19px 20px 20px;
                    height: initial;
                }

                .dot-container {
                    display: none;
                }

                .our_rating {
                    padding: 40px 20px 20px;

                    .first_stage {
                        flex-direction: column;
                    }

                    .second_stage {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .Before_after {
        .container {
            flex-direction: column;

            div:first-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    .Free_consultation {

        &::after {
            top: 0px;
            left: 0px;
            z-index: 0;
        }

    }

    .Advantages_from_advice {
        .container {
            .wrapper {
                &::before {
                    display: none;
                }
            }
        }
    }
    .Frequently_questions .container .contact{
        flex-direction: column;
        &::after {
            display: none;
        }
    }
    .Free_consultation {
        .container {
            .contact {
                flex-direction: column;

                
            }
        }
    }

    .Our_team {
        .owl-nav {
            display: none;
        }
    }

    .Regulation {
        .container {
            .wrapper {
                div {
                    flex-wrap: wrap;
                }
            }
        }
    }

    Footer {
        .contaienr {
            .wrapper {
                div {
                    &:first-of-type {
                        flex-direction: column;
                    }

                }

                .contact {
                    flex-direction: column;
                }
            }
        }

    }

    Footer .container .wrapper div:first-of-type {
        flex-direction: column;
    }
}